body {
    color: black;
    text-align: left;
    font-family: "Arial";
    font-size: 10px;
    margin: 0;
    padding: 0;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: black;
    margin: 0 auto;
}

#conmtainer h1 {
    font-size: 20px;
}